header {
     background-color: white;
     width: 100%;
     position: fixed;
     z-index: 999;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 200px;
 }
 
 body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;      
    background-color: beige; 
    font-family: Arial, sans-serif;
}

.form-container {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

form label {
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

form input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    margin-top: 15px;
    background-color: #007bff;
    padding: 8px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.signup-main {
     background: url(images/wallpaperflare.com_wallpaper\ \(1\).jpg) no-repeat;
     width: 100%;
     min-height: 100vh;
     align-items: center;
 }
.logo {
  display: block;
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
h1 {
    font-size: 48px;     
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.card {
    background: #990012;              
    width: 400px;                   
    padding: 30px;                   
    border-radius: 15px;            
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
    text-align: center;            
  }

.createTEXT-signup-page {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
}

.form-group {
  margin-bottom: 15px;
}

label {
    display: block;      
    margin-bottom: 4px;  
    font-weight: bold;
}

input {
    display: block;     
    width: 300px;       
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signup-page-boxes {
     flex: 1;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
 }

.submit-button input {
     padding: 10px 20px;
     background-color: #bfd0e3;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

.submit-button input:hover {
  opacity: 0.9;
}



